footer {
  background-color: #00FF00; /* Couleur de fond verte */
  height: 60px; /* Hauteur du pied de page */
  width: 100%; /* Largeur du pied de page à 100% */
  position: fixed; /* Position fixe pour rester en bas de la page */
  bottom: 0; /* Aligner le pied de page en bas */
}

footer p {
  text-align: center; /* Centrer le contenu des paragraphes à l'intérieur du pied de page */
}
