header {
    background-color: #FF0000; /* Couleur de fond rouge */
    height: 70px; /* Hauteur de l'en-tête */
    width: 100%; /* Largeur de l'en-tête à 100% */
    border-bottom: 1px, #CCCCCC;
    background: url("../images/logo.png") no-repeat top left 20px;
  }
