/* Styles pour la section des filtres */
.filters {
	background-color: white; /* Couleur de fond */
	height: 70px; /* Hauteur */
	width: 100%; /* Largeur automatique */
	border: 1px solid #DDDDDD; /* Bordure */
	border-radius: 4px; /* Coins arrondis */
	display: flex; /* Affichage en flexbox */
	align-items: center; /* Alignement vertical au centre */
}

/* Styles pour le bouton de recherche */
.filters button {
	font-size: 18px; /* Taille de la police */
	background-color: #FF5A5F; /* Couleur de fond */
	color: #FFFFFF; /* Couleur du texte */
	height: 48px; /* Hauteur */
	width: 20%; /* Largeur */
	border: none; /* Pas de bordure */
	border-radius: 4px; /* Coins arrondis */
	margin-right: 30px; /* Marge à droite */
	margin-left: auto; /* Marge à gauche automatique pour aligner à droite */
}

/* Style pour le bouton de recherche au survol */
.filters button:hover {
	opacity: 90%; /* Opacité au survol */
}

/* Styles pour les éléments de localisation et d'aménagement */
.locations, .amenities {
	height: 100%; /* Hauteur à 100% */
	width: 25%; /* Largeur à 25% */
}

/* Style pour les éléments de localisation */
.locations {
	border-right: 1px solid #DDDDDD; /* Bordure droite solide de 1 pixel */
}

/* Titre de niveau 3 */
h3 {
	font-weight: 600; /* Épaisseur de la police */
	margin-left: 40px; /* Marge à gauche */
	margin-bottom: 5px; /* Marge en bas */
}

/* Titre de niveau 4 */
h4 {
	font-weight: 400; /* Épaisseur de la police */
	font-size: 14px; /* Taille de la police */
	margin-top: 0px; /* Marge en haut */
	margin-left: 40px; /* Marge à gauche */
}

/* Style pour les listes non ordonnées */
ul {
    list-style-type: none; /* Suppression des puces */
}

/* Style pour les fenêtres contextuelles (popover) */
.popover {
    border: solid 1px #DDDDDD; /* Bordure */
    background-color: #FAFAFA; /* Couleur de fond */
    border-radius: 4px; /* Coins arrondis */
    display: none; /* Masquée par défaut */
}

/* Style pour les fenêtres contextuelles des éléments de localisation */
.locations .popover {
    padding-bottom: 20px; /* Remplissage en bas */
    margin-top: 13px; /* Marge en haut */
}

/* Style pour les fenêtres contextuelles des commodités */
.amenities .popover {
    padding-top: 20px; /* Remplissage en haut */
    padding-bottom: 20px; /* Remplissage en bas */
    margin-top: 13px; /* Marge en haut */
}

/* Style pour les titres des fenêtres contextuelles */
.popover h2 {
    margin-bottom: 5px; /* Marge en bas */
}

/* Style pour les listes imbriquées dans les fenêtres contextuelles */
.popover li ul {
    padding-left: 0; /* Aucune marge à gauche */
}

/* Style pour les éléments de liste à l'intérieur des fenêtres contextuelles */
.popover li ul li:not(:first-child) {
    padding-left: 20px; /* Marge à gauche pour les éléments de liste sauf le premier */
}

/* Affichage de la fenêtre contextuelle lorsque survolé */
.locations:hover .popover,
.amenities:hover .popover {
    display: block; /* Afficher la fenêtre contextuelle au survol */
}

/* Style pour les éléments de liste à l'intérieur des fenêtres contextuelles */
.popover li {
    line-height: 1.4rem; /* Hauteur de ligne */
}
